.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .zoom:hover {
  -webkit-transform: scale(4); 
  transform: scale(4); 
} */

#grad {
  color: white;
  /* background-image: linear-gradient(to right,#71873f, #688557,#abbe99, #e0b87e ,#a36627); */
  background-image: url(./bg1.jpg);
  background-size:     cover;    
  background-repeat:   no-repeat;
  background-position: center center;
  opacity: 0.9;
}

#myHead {
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
